/***************************TAG SELECTORS***************************/
  body {
    background-color: #EAF6F6;
  }

  hr {
    border-top-style: solid;
    border-left-style: none;
border-right-style: none;
    color: #FFFFFF;
    height: 2px;
  }
  h1 {color: #66BFBF;}
  h3 {color: #f76b8a;}

  h1:hover {color: #f76b8a}

/***************************CLASS SELECTORS************************/

.circular {border-radius: 100%;}
